<h1><%= @new_pirate.name%></h1>
<%= @new_pirate.height%>
<%= @new_pirate.weight%>



<%@new_pirate.ships.each do |sq|%>
<h2><%=sq["name"]%></h2>
<h2><%=sq["type"]%></h2>
<h2><%=sq["booty"]%></h2><br>



<%end%>
<h2></h2>

